<div class='navbar container-fluid'>
    <div>
        <a href='/aboutUs'>ABOUT US</a>
        <a href='/tents'>TENTS</a>
        <a href='/sleepingbags'>SLEEPING BAGS</a>
        <a href='/backpacks'>BACKPACKS</a>
    </div>
    <div>
        {{#if loggedIn}}
        <a href="/logout" class="btn btn-primary">
            <span class="fa fa-facebook-official"></span> Logout</a>
        {{else}}
        <a href="/auth/facebook" class="btn btn-primary">
            <span class="fa fa-facebook-official"></span> Facebook Login</a>
        {{/if}}
        <a href='/signin'>SIGN IN</a>
        <a href='/cart'>CART</a>
    </div>
</div>

<div class="page-header text-center">
    <h1>
        <span class="fa fa-anchor"></span>Profile for {{user.name}}</h1>
</div>

<!-- FACEBOOK INFORMATION -->
<div class="col-sm-6">
    <div class="well">
        <h3 class="text-primary">
            <span class="fa fa-facebook"></span> Facebook</h3>

        <!-- check if the user has this token (is the user authenticated with this social account) -->
        <p>
            <strong>id</strong>: {{user.facebook_id}}
            <br>
            <strong>token</strong>: {{user.token}}
            <br>
            <strong>email</strong>: {{user.email}}
            <br>
            <strong>name</strong>: {{user.name}}
            <br>
            <strong>admin?</strong>: {{user.admin}}
        </p>
    </div>
</div>